html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body {
    background-color: #000000; /* Svart bakgrunn */
    color: #ffffff; /* Hvit tekst */
}

h1, h2, .text-danger {
    color: #ff0000; /* Rød farge fra logoen */
}

.text-primary {
    color: #007bff; /* Blå farge for kontrast */
}

.btn-primary {
    background-color: #ff0000; /* Rød knapp */
    border-color: #ff0000;
}

    .btn-primary:hover {
        background-color: #cc0000; /* Mørkere rød */
    }
